@use "../../components/_mixins" as *;

body {
    font-family: Oswald, Arial, Helvetica;
}

body .header {
    margin-bottom: 30px;
    
    &__links {
        &-item {
            a {
                color: white;
            }

            @include selected(1, white);
        }

    }
}

.index {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 54px;
    justify-content: center;

    & > div {
        padding-bottom: 50px;
    }

    &__title {
        font-size: 60px;
        line-height: 60px;
        width: 414px;
        margin-bottom: 40px;
    }

    &__desc {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 56px;
    }

    &__link {
        display: block;
        width: 244px;
        color: white;
        font-size: 20px;
        padding: 14px 26px;
        background-color: #68B738;
    }

    &__img-desktop {
        position: relative;
        right: 90px;
    }

    &__img-tablet {
        display: none;
    }

    &__img-mobile {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 720px;
        height: 696px;
        background: url("./assets/index-background-desktop.png") no-repeat;
        z-index: -1;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;

    &__card {
        display: grid;
        grid-template-columns: 168px 1fr;
        padding: 41px 51px 55px 52px;
        max-width: 570px;
        background-color: #F2F2F2;

        .first-cont {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #68B738;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-cat {
            padding-bottom: 15px;
        }

        &-title {
            font-size: 36px;
            line-height: 36px;
            align-self: center;
        }

        &-desc {
            grid-column: span 2;
            font-family: Arial, Helvetica;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin: 48px 0 27px;
            color: #444444;
        }

        &-link {
            color: black;
            font-size: 20px;
            line-height: 30px;
            padding: 4px 0;
            
            &_arrow {
                vertical-align: middle;
                padding-bottom: 5px;
                margin-left: 28px;
            }
        }
    }
}

@mixin bgnum($num) {
    content: $num;
    color: #F2F2F2;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: -1;
}

.briefing {
    margin-top: 71px;

    &__title {
        font-size: 60px;
        line-height: 60px;     
        margin-bottom: 72px;
    }

    .first-cont {
        display: flex;
        justify-content: space-between;
    }   

    &__card {
        position: relative;
        width: 230px;

        & > div {
            width: 80px;
            height: 80px;
            background-color: #68B738;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }

        &-desc {
            font-family: Arial, Helvetica;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 57px;
            color: #444444;
        }

        &:nth-child(1)::before {
            @include bgnum("1");
        }
        &:nth-child(2)::before {
            @include bgnum("2");
        }
        &:nth-child(3)::before {
            @include bgnum("3");
        }
        &:nth-child(4)::before {
            @include bgnum("4");
        }
    }
}

.example {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 69px;
    padding-bottom: 75px;
    background: linear-gradient(to top, #F2F2F2 80%, white 0%);

    .container {
        display: flex;
        justify-content: space-between;
    }

    .first-cont {
        width: 436px;
    }

    .second-cont {
        display: flex;
        justify-content: space-around;
    }

    &__title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 146px;
    }
    
    &__desc {
        font-family: Arial, Helvetica;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 69px;
        color: #444444;
    }

    &__feature {
        display: inline-block;
        position: relative;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 162px;
        height: 72px;
        padding: 15px 0 20px;
        text-align: center;

        &:first-of-type {
            margin-right: 42px;
        }

        &-title {
            font-size: 30px;
            line-height: 37px;
        }

        &-subtitle {
            position: absolute;
            display: block;
            left: 50%;
            transform: translate(-50%, 50%);
            bottom: 0;
            white-space: nowrap;
            font-family: Arial;
            font-size: 14px;
            line-height: 14px;
            padding: 5px 8px;
            color: #444444;
            background-color: #F2F2F2;
        }
    }

    &__cost {
        font-size: 20px;
        line-height: 20px;
        margin-top: 60px;

        &-num {
            margin-left: 63px;
        }
    }

    &__result {
        max-width: 60%;
        width: 100%;

        .img-cont {
            position: relative;
            max-width: 703px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            height: 550px;
            margin-top: -80px;
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 703px 100%;
        }

        &-cat1 {
            background-image: url("./assets/cat1.png");
        }

        & &-cat2{
            background-image: url("./assets/cat2.png");
            width: 50%;
        }

        .slider-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 27px;
        }

        @mixin slider-track {
            background-color: #DCDCDC;
            height: 6px;
            border-radius: 6px;
        }

        @mixin slider-thumb {
            background-color: #68B738;
            border: 13px solid white;
            height: 34px;
            width: 34px;
            border-radius: 50%;   
            box-shadow: 0px 0px 0px 1px #CDCDCD,
            0px 0px 7px darkgray;
        }

        &-slider {
            -webkit-appearance: none;
            background: transparent;
            cursor: pointer;
            max-width: 428px;
            width: 100%;

            &::-webkit-slider-runnable-track {
                @include slider-track;
            }

            &::-moz-range-track {
                @include slider-track;
            }

            &::-webkit-slider-thumb {
                @include slider-thumb;
                -webkit-appearance: none;
                appearance: none;
                margin-top: -14px;
            }

            &::-moz-range-thumb {
                @include slider-thumb;
            }
        }

       

        .slider-text {
            color: black;
            font-size: 20px;
            line-height: 30px;
            background-color: #F2F2F2;
            padding-bottom: 2px;
            border-bottom: 1px dotted #B8B8B8;
        }

        .slider-before {
            margin-right: 20px;
        }

        .slider-after {
            margin-left: 20px;
        }

        @mixin selector-track {
            background-color: white;
            height: 14px;
            border-radius: 6px;
            border: 1px solid #CDCDCD;
        }

        @mixin selector-thumb {
            background-color: #68B738;
            height: 6px;
            width: 50%;
            border-radius: 6px;   
        }

        &-selector {
            display: none;
            -webkit-appearance: none;
            background: transparent;
            cursor: pointer;
            max-width: 50%;
            width: 100%;

            &::-webkit-slider-runnable-track {
                @include selector-track;
            }

            &::-moz-range-track {
                @include selector-track;
            }

            &::-webkit-slider-thumb {
                @include selector-thumb;
                -webkit-appearance: none;
                appearance: none;
                margin-top: 3px;
            }

            &::-moz-range-thumb {
                @include selector-thumb;
            }
        }
    }
}

@media (max-width: 1000px) {
    body .container {
        max-width: 90%;
    }

    .header {
        &__links {
            & &-item {
                a {
                    color: black;
                }

                @include selected(1);
            }
        }
    }
    
    .index {
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 0;

        & > div {
            padding-bottom: 0;
            margin-left: -100px;
        }

        &__title {
            margin-bottom: 41px;
        }

        &__desc {
            margin-bottom: 49px;
        }

        &__img-desktop {
            display: none;
        }

        &__img-tablet {
            display: block;
            padding: 0;
            margin-top: -84px;
            z-index: -1;
        }
        
        &::before {
            display: none;
        }
    }

    .features {
        margin-top: 0;
        flex-direction: column;

        &__card {
            width: 100%;
            max-width: 100%;
            padding-top: 0;
            grid-template-columns: 377px 1fr;
            grid-template-rows: 36px 100px 1fr;

            &:last-of-type {
                grid-template-columns: 342px 1fr;
            }

            &-desc {
                grid-column: 1;
                margin: 0;
                margin-bottom: 52px;
            }

            &-link {
                grid-column: 1;
            }

            .first-cont {
                width: 20vw;
                height: 20vw;
                grid-column: 2;
                grid-row: span 4;
                align-self: center;
                justify-self: end;
                margin-top: 40px;
            }

            .img-cat {
                width: 30vw;
                height: 30vw;
            }

            .img-tiger {
                width: 30vw;
                height: 30vw;
            }

            &:first-of-type {
                margin-bottom: 30px;
            }
        }
    }

    .briefing {
        margin-top: 45px;
        padding-right: 79px;
        padding-bottom: 47px;
        border-bottom: 1px solid #E6E6E6;

        .first-cont {
            flex-wrap: wrap;
        }

        &__card {
            min-width: 28vw;
        
            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-top: 37px;
            }
        }
    }

    .example {
        margin-top: 43px;
        background: linear-gradient(to top, #F2F2F2 50%, white 0%);

        .container {
            flex-direction: column;
        }

        .img-cont {
            margin-top: 40px;
            width: 70vw;
            height: 55vw;
        }

        .img {
            background-size: 70vw 100%;
        }

        .first-cont {
            display: grid;
            width: 100%;
            grid-template-columns: 56% 1fr;
        }

        &__title {
            margin-bottom: 63px;
        }

        &__desc {
            margin-bottom: 54px;
            grid-column: span 2;
        }

        &__cost {
            margin: 0;
            justify-self: end;
            text-align: end;
            align-self: center;

            &-num {
                margin-top: 9px;
                display: block;
                margin-left: 0;
            }
        }

        &__feature:first-of-type {
            margin-right: 0;
        }
    }
}

@media (max-width: 675px) {
    body .header {
        margin-bottom: 0;
    }

    .index {
        margin-bottom: 22px;
        padding-top: 0;

        & > div {
            margin: 0;
        }

        &__title {
            text-align: center;
            margin: 25px auto 27px;
            font-size: 36px;
            line-height: 36px;
            color: white;
            width: 249px;
        }

        &__desc {
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            color: white;
        }

        &__link {
            width: 280px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }

        &::before {
            display: block;
            width: 100%;
            top: 0;
            left: 0;
            height: 305px;
            background: url("./assets/index-background-mobile.png") no-repeat 50% 50%,
            linear-gradient(to right, #65A93C 50%, #63A73A 0%);
        }

        &__img-tablet {
            display: none;
        }

        &__img-mobile {
            display: block;
        }
    }

    .features {
        & &__card {
            max-width: 100%;
            grid-template-columns: 50px 84px 1fr;
            grid-template-rows: 53px 1fr 50px;
            padding: 21px 20px 18px;
            column-gap: 20px;
            row-gap: 19px;

            .first-cont {
                grid-column: 1;
                grid-row: 1;
                width: 50px;
                height: 50px;
                margin-top: 0;
            }

            .img-cat {
                width: 36px;
                height: auto;
            }

            .img-tiger {
                width: 67px;
                height: auto;
            }

            &-title {
                font-size: 24px;
                line-height: 37px;
                grid-column: 2/4;
            }

            &-desc {
                font-size: 14px;
                line-height: 18px;
                grid-row: 2;
                grid-column: span 3;
                margin: 0;
            }

            &-link {
                font-size: 16px;
                line-height: 16px;
                grid-column: span 3;
                padding-top: 19px;
                border-top: 1px solid #D9D9D9;

                &_arrow {
                    margin-left: 15px;
                }
            }
        }
    }

    .briefing {
        margin-top: 27px;
        padding: 0;
        border: none;

        .first-cont {
            flex-direction: column;
            justify-content: space-between;
        }

        &__title {
            font-size: 36px;
            line-height: 40px;
        }

        & &__card {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;

            & > div {
                width: 60px;
                height: 60px;
                margin: 0;
                margin-right: 20px;
                float: left;
            }

            &::before {
                display: none;
            }

            &-desc {
                margin: 0;
                font-size: 14px;
                line-height: 18px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .example {
        margin-top: 42px;

        .first-cont {
            grid-template-columns: 1fr 1fr;
        }

        &__title {
            font-size: 36px;
            line-height: 40px;
            grid-column: span 2;
            margin-bottom: 33px;
        }

        &__desc {
            font-size: 14px;
            line-height: 18px;
        }

        &__feature {
            width: 124px;
            height: 56px;

            &:first-of-type {
                margin: 0;
            }

            &-title {
                font-size: 24px;
                line-height: 24px;
            }

            &-subtitle {
                font-size: 12px;
                line-height: 12px;
                white-space: normal;
                padding: 2px 6px;
                transform: translate(-50%, 70%);
            }
        }

        &__cost {
            margin-top: 28px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            justify-self: center;
            grid-column: span 2;

            &-num {
                display: inline;
                margin: 0;
            }
        }

        .second-cont {
            display: flex;
            justify-content: space-around;
            grid-column: span 2;
        }

        &__result {
            .img-cont {
                width: 100%;
                height: auto;

                .scroll-content {
                    display: flex;
                }
            }

            .img {
                max-height: 80vw;
                height: 80vw;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: 50% 50%;
                position: static;
                flex-shrink: 0;
            }

            .slider-text {
                border: none;
            }

            &-cat1 {
                transform-origin: center center;
                transform: scale(1);
                transition: transform 0.5s;
            }

            & &-cat2 {
                width: 100%;
            }

            &-slider {
                display: none;
            }
            
            &-selector {
                display: block;
            }
        }
    }
}