<footer class="footer">
    <section class="map">
        <div class="map__invitation">
            <h4 class="map__invitation-title">ПРИГЛАШАЕМ <br> К СОТРУДНИЧЕСТВУ ДИЛЕРОВ!</h4>
            <p class="map__invitation-desc">ул. Большая 
                Конюшенная, д. 19/8 <br>
                <span class="map__invitation-desc_city">Санкт-Петербург</span>
            </p>
        </div>
        <div class="map__api" id="map"></div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <img class="footer__logo" src="./assets/footer-logo.svg" alt="footer-logo">
            <div class="footer__social">
                <a class="footer__social-link" href="#">
                    <img src="./assets/footer-vk.svg" alt="footer-vk">
                </a>
                <a class="footer__social-link" href="#">
                    <img src="./assets/footer-inst.svg" alt="footer-inst">
                </a>
                <a class="footer__social-link" href="#">
                    <img src="./assets/footer-fb.svg" alt="footer-fb">
                </a>
            </div>
            <div class="footer__copyright">
                <span class="footer__copyright-title">
                    HTML Academy
                </span>
                <img class="footer__copyright-logo" src="./assets/footer-copyright.svg" alt="footer-copyright">
            </div>
        </div>
    </section>
</footer>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvuGcKxUrBCKW5s6uoLMkt6zPvjidFY-o&callback=initMap&v=weekly"
  defer
></script>