<header class="header container">
    <a class="header__logo-desktop" href="/index/index.html"><img src="./assets/logo-desktop.svg" alt="logo-desktop"></a>
    <a class="header__logo-tablet" href="/index/index.html"><img src="./assets/logo-tablet.svg" alt="logo-tablet"></a>
    <a class="header__logo-mobile mobile-img" href="/index/index.html"><img src="./assets/logo-mobile_img.svg" alt="logo-mobile_img"></a>
    <a class="header__logo-mobile mobile-text" href="/index/index.html"><img src="./assets/logo-mobile_text.svg" alt="logo-mobile_text"></a>
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <ul class="header__links">
        <li class="header__links-item">
            <a href="/index/index.html">ГЛАВНАЯ</a>
        </li>
        <li class="header__links-item">
            <a href="/catalog/catalog.html">КАТАЛОГ ПРОДУКЦИИ</a>
        </li>
        <li class="header__links-item">
            <a href="/form/form.html">ПОДБОР ПРОГРАММЫ</a>
        </li>
    </ul>
</header>